services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    command: bash -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"

  nginx:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=development
    ports:
      - "80:80"
